{%  extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin: 0 12%;">
    <div> 
        <h2> {{ blog.title }} </h2> 
        <!-- Row 1: Keywords -->

        <!-- Blog contents -->
        <div class="contents" id="contents"> </div>

    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const contentBody = document.getElementById("contents");
        let body = JSON.parse("{{blog.contents|escapejs}}");
        let blocks = body.blocks;
        
        for (let index = 0; index < blocks.length; index++) {
            switch (blocks[index].type) {
                case "Header":
                    let head = document.createElement(`h${blocks[index].data.level}`);
                    head.textContent = blocks[index].data.text;
                    contentBody.appendChild(head);
                    break;
                case "Image":
                    let div = document.createElement("div");
                    let image = document.createElement("img");
                    let caption = document.createElement("h5");
                    image.src = `${blocks[index].data.file.url}`;
                    caption.textContent = blocks[index].data.caption;
                    div.appendChild(image);
                    div.appendChild(caption);
                    contentBody.appendChild(div);
                    break;
                case "List":
                    let list;
                    if (blocks[index].data.style == "unordered") {
                        list = document.createElement("ul");
                    } 
                    else {
                        list = document.createElement("ol");
                    }
                    
                    for (const item in blocks[index].data.items) {
                        let li = document.createElement("li");
                        li.textContent = blocks[index].data.items[item];
                        list.appendChild(li);
                    }
                    contentBody.appendChild(list);
                    break;
                case "Raw":
                    let blockquote = document.createElement("blockquote");
                    let code = document.createElement("code");
                    let pre = document.createElement("pre");
                    pre.textContent = blocks[index].data.html;
                    pre.style.background = "#131313";
                    pre.style.color = "#dddddd";
                    pre.style.padding = "15px";
                    code.appendChild(pre);
                    contentBody.appendChild(code);
                    break;
                case "Attaches":
                    let parent = document.createElement("div");
                    let a = document.createElement("a");
                    let name = document.createElement("h3");
                    let size = document.createElement("h3");
                    a.href = `${blocks[index].data.file.url}`;
                    a.textContent = `Downlod ${blocks[index].data.file.extension}`;
                    name.textContent = blocks[index].data.file.name;
                    size.textContent = blocks[index].data.file.size;
                    parent.innerHTML = `<a href="${blocks[index].data.file.url}" download>Download</a>`;
                    parent.appendChild(a);
                    parent.appendChild(name);
                    parent.appendChild(size);
                    contentBody.appendChild(parent);
                    break;
                case "paragraph":
                    const p = document.createElement("p");
                    p.innerHTML = blocks[index].data.text;
                    contentBody.appendChild(p);
                    break;
                case "Link":
                    let parent2 = document.createElement("div");
                    let a2 = document.createElement("a");
                    if (blocks[index].data.meta.description) {
                        let desc = document.createElement("p");
                        desc.textContent = blocks[index].data.meta.description;
                        parent2.appendChild(desc);
                    }
                    if (blocks[index].data.meta.title) {
                        let title = document.createElement("h3");
                        title.textContent = blocks[index].data.meta.title;
                        parent2.appendChild(title);
                    }
                    if (blocks[index].data.meta.image.url !== "") {
                        let img = document.createElement("img");
                        img.src = blocks[index].data.meta.image.url;
                        parent2.appendChild(img);
                    }
                    a2.href = blocks[index].data.link;
                    parent2.appendChild(a2);
                    contentBody.appendChild(parent2);
                    break;
                default:
                    break;
            }
        }
    });
</script>
{% endblock %}