{%  extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin: 0 12%;">
    <!-- Introduction -->
     <div class="row" id="introduction" style="margin-top: 3%; margin-bottom: 1.5%; justify-content:space-around">
        <div class="col-7">
            <div class="row"> <h2> {{ project.title }} </h2> </div>
            <div class="row"> <p> {{ project.description }} </p> </div>
            <!-- Row 1: Keywords -->
        </div>
        <div class="col-5" id="thumbnail" style="height: 300px; text-align: center;">
            <!--  style="background-color: blueviolet;" -->
            {% if 'uploads/projects' in project.project_thumbnail.url %}
                <img src="{{ project.project_thumbnail.url }}" alt="{{ project.title }}" style="padding: 2%; border-radius: 20% 10%; height: inherit; border: 1px solid rgba(0, 0, 0, 0.2);">
            {% else %}
                <img src="{{ project.project_thumbnail }}" alt="{{ project.title }}" style="padding: 2%; border-radius: 20% 10%; height: inherit; border: 1px solid rgba(0, 0, 0, 0.2);">
            {% endif %}
        </div>
     </div>
    
    <!-- Demo -->
     <div class="demo" style="margin: 1.5% 0; height: 10%;">
        <!-- background-color: blueviolet; -->
        <div class="row">
            <h2 class="col-2" style="width: fit-content;">Demo</h2> 
            <div class="col-1" style="width: fit-content; height: 35px; padding: 0.4% 0.5%; background-color: {{ complementary_primary }}; border-radius: 20%"> <a href="{{ project.code }}" style="text-decoration:none; color: {{font_complementary}};">Code</a></div>
        </div>
        <iframe width="80%;" height="520" src="https://www.youtube.com/embed/7KG5UQyx1dk" title="Queen - Bohemian Rhapsody  | Naomi | The Voice Kids France 2020 | Blinds Auditions" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>

     <!-- How it works -->
      <div class="contents">
        {{ project.contents }}
      </div>
</div>
{% endblock %}